<template name="aide">
    <h1 class="blue-text">Aide au tableau de bord</h1>
    <p class="definition">
    Le tableau de bord d’architecture a pour objectif de donner une vue d’ensemble de l’architecture d’un projet, des besoins jusqu’au choix des technologies pour y répondre ; l’application <b>ArchiProj</b> sert notamment à la récolte des infos affichées dans le tableau de bord
    <img class="materialboxed" style="margin-left: auto;margin-right: auto;" width="70%" src="image/tdb.jpg">
    Les infos dans le tableau de bord sont :
    </p>
    <div class="card-panel light-blue lighten-2">
        <div class="card-action">
            <span><b>Objectif et contexte projet</b></span>
            <p><b>ESP : </b>Eléments structurants projet</p>
            <p><b>FSD : </b>Fonctionnalités – services – données</p>
            <p><b>CRT : </b>Contraintes réglementaires et techniques</p>
            <p><b>ENF  : </b>Exigences non fonctionnelles</p>
        </div>
    </div>
    
     <div class="card-panel light-blue lighten-2">
        <div class="card-action">
           <span><u><b>Vision architecture</b></u></span>
            <p><b>VAS : </b>vision acteurs du système</p>
            <p><b>SAT : </b>schéma d’architecture technique</p>
            <p><b>VSD : </b>Vision de la sensibilité des données</p>
        </div>
    </div>
    
     <div class="card-panel light-blue lighten-2">
        <div class="card-action">
            <span><u><b>Techno Architecture</b></u></span>
            <p><b>COA : </b>Composants applicatifs</p>
            <p><b>MFX : </b>Matrice des flux</p>
            <p><b>COI : </b>Composants  d’infrastructure</p>
        </div>
    </div>
    
</template>