<template name="registerBase">
    <div class="row">
        <div class="col s12">
            <h5>Enregistrement</h5>
        </div>
        <form class="register">
            <div class="col s12 m12 l6">
                <label for="username">Identifiant</label>
                <input type="text" class=username name="username" required maxlength="25" pattern="^[a-zA-Z0-9]+$"/>
            </div>
            <div class="col s12 m12 l6">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" required />
             </div>
             <div class="col s12 m12 l6">
                <label for="lastname">Nom</label>
                <input type="text" name="lastname" required />
             </div>
             <div class="col s12 m12 l6">
                <label for="repeatPassword">Répéter le mot de passe</label>
                <input type="password" name="repeatPassword" required/>
             </div>
             <div class="col s12 m12 l6">
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname" required/>
             </div>
             <div class="col s12 m12 l6">
                <label for="email">Email</label>
                <input type="email" name="email" required/>
              </div>
              <div class="col s12">
                <button type="submit" class="waves-effect waves-light btn blue">S'enregistrer</button>
              </div>
        </form>
    </div>
</template>