<template name="viewProjet">
    <table class="centered">
        <thead>
            <tr>
                <th data-field="name">Nom du projet</th>
                <th data-field="esp"><img src="image/esp.svg" style="height:50px" /></th>
                <th data-field="fsd"><img src="image/fsd.svg" style="height:50px" /></th>
                <th data-field="crt"><img src="image/crt.svg" style="height:50px" /></th>
                <th data-field="enf"><img src="image/enf.svg" style="height:50px" /></th>
                <th data-field="vas"><img src="image/visionacteur.svg" style="height:50px" /></th>
                <th data-field="sat"><img src="image/schematech.svg" style="height:50px" /></th>
                <th data-field="vsd"><img src="image/zonesensi.svg" style="height:50px" /></th>
                <th data-field="coa"><img src="image/zonecompo.svg" style="height:50px" /></th>
                <th data-field="mfx"><img src="image/zonematrice.svg" style="height:50px" /></th>
                <th data-field="coi"><img src="image/zonecompomateriel.svg" style="height:50px" /></th>
                <th data-field="delete"></th>
            </tr>
        </thead>
        <tbody>
            {{#each projets}}
            <tr>
                <td>{{name}}</td>
                <td>{{> esp }}</td>
                <td>{{> fsd }}</td>
                <td>{{> crt }}</td>
                <td>{{> enf }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ >deleteProjet }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>


<template name="deleteProjet">
  {{#if deleteProj _id}}
    <a href="" class="deleteProjet tooltipped" data-position="top" data-delay="50" data-tooltip="Supprimer projet {{name}}"><i class="material-icons blue-text text-accent-3">delete</i>
    </a>
  {{/if}}
</template>