<template name="viewProjet">
    <table class="centered">
        <thead>
            <tr>
                <th data-field="name">Nom du projet</th>
                <th data-field="esp"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Eléments structurants"><img src="image/esp.png" style="height:50px" /></div></th>
                <th data-field="fsd"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Fonctionnalités - Services - Données"><img src="image/fsd.png" style="height:50px" /></div></th>
                <th data-field="crt"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Contraintes réglémentaires et techniques"><img src="image/crt.png" style="height:50px" /></div></th>
                <th data-field="enf"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Exigences non fonctionnelles"><img src="image/enf.png" style="height:50px" /></div></th>
                <th data-field="vas"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Vision acteurs du système"><img src="image/visionacteur.png" style="height:50px" /></div></th>
                <th data-field="sat"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Schéma d'architecture technique"><img src="image/schematech.png" style="height:50px" /></div></th>
                <th data-field="vsd"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Vision de la sensibilité des données"><img src="image/zonesensi.png" style="height:50px" /></div></th>
                <th data-field="coa"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Composants applicatifs"><img src="image/zonecompo.png" style="height:50px" /></div></th>
                <th data-field="mfx"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Matrice des flux"><img src="image/zonematrice.png" style="height:50px" /></div></th>
                <th data-field="coi"><div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Composants d'infrastructure"><img src="image/zonecompomateriel.png" style="height:50px" /></div></th>
                <th data-field="delete"></th>
            </tr>
        </thead>
        <tbody>
            {{#each projets}}
            <tr>
                <td>{{name}}</td>
                <td>{{> esp }}</td>
                <td>{{> fsd }}</td>
                <td>{{> crt }}</td>
                <td>{{> enf }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ >deleteProjet }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>


<template name="deleteProjet">
  {{#if deleteProj _id}}
    <a href="" class="deleteProjet tooltipped" data-position="top" data-delay="50" data-tooltip="Supprimer projet {{name}}"><i class="material-icons trash-color">delete</i>
    </a>
  {{/if}}
</template>