<template name="defaultNavigation">
  <header id="header">
<nav>
<div class="nav-wrapper col s12" id="header-nav">
  <a href="{{pathFor 'home' }}" class="brand-logo center">ARCHIPROJ</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if currentUser }}
        {{# if isAttente currentUser.profile.role }}
            <li><a href="#">Accueil</a></li>
        {{/if}}
        {{#if isAdmin currentUser.profile.role }}
            <li><a href="{{ pathFor 'adminBase' }}">Accueil</a></li>
            <li><a href="{{ pathFor 'adminUser' }}">Utilisateurs</a></li>
            <li><a href="#">Champs</a></li>
        {{/if}}
        {{#if isContributeur currentUser.profile.role}}
            <li><a href="{{ pathFor 'contriBase' }}">Accueil</a></li>
            <li><a href="{{ pathFor 'profileContrib' }}">Mon profil</a></li>
        {{/if}}
        <li class="logout"><a href="#">Déconnexion</a></li>
      {{ else}}
        <li><a href="{{ pathFor 'home' }}">Accueil</a></li>
        <li><a href="{{ pathFor 'register' }}">Enregistrement</a></li>
        <li><a href="{{ pathFor 'login' }}">Connexion</a></li>
      {{ /if }}
  </ul>
  <ul id="slide-menu" class="side-nav">
      {{#if currentUser }}
        {{# if isAttente currentUser.profile.role }}
            <li><a href="{{pathFor 'home' }}">Accueil</a></li>
        {{/if}}
        {{#if isAdmin currentUser.profile.role }}
            <li><a href="{{ pathFor 'adminBase' }}">Accueil</a></li>
            <li><a href="{{ pathFor 'adminUser' }}">Utilisateurs</a></li>
            <li><a href="#">Champs</a></li>
        {{/if}}
        {{#if isContributeur currentUser.profile.role}}
            <li><a href="{{ pathFor 'contriBase' }}">Accueil</a></li>
            <li><a href="{{ pathFor 'profileContrib' }}">Mon profil</a></li>
        {{/if}}
        <li class="logout"><a href="#">Déconnexion</a></li>
      {{ else}}
        <li><a href="{{ pathFor 'home' }}">Accueil</a></li>
        <li><a href="{{ pathFor 'register' }}">Enregistrement</a></li><li>
          <a href="{{ pathFor 'login' }}">Connexion</a></li>
        {{ /if }}
        </ul>
        <a href="#" data-activates="slide-menu" class="right button-collapse"><i class="material-icons">menu</i></a>
        </div>
        </nav>
        </header>
</template>
