<template name="defaultNavigation">
  <ul id="slide-menu" class="side-nav">
      {{#if currentUser }}
        {{# if isAttente currentUser.profile.role }}
            <li><a href="{{pathFor 'home' }}">Accueil</a></li>
        {{/if}}
        {{#if isAdmin currentUser.profile.role }}
            <li><a href="{{ pathFor 'adminBase' }}">Accueil</a></li>
            <li><a href="{{ pathFor 'ficheProjet' }}">Fiche Projets</a></li>
            <li><a href="{{ pathFor 'adminUser' }}">Utilisateurs</a></li>
            <li><a href="#">Champs</a></li>
        {{/if}}
        {{#if isContributeur currentUser.profile.role}}
            <li><a href="{{ pathFor 'contriBase' }}">Accueil</a></li>
            <li><a href="{{ pathFor 'ficheProjet' }}">Fiche Projets</a></li>
            <li><a href="{{ pathFor 'profileContrib' }}">Mon profil</a></li>
        {{/if}}
        <li class="logout"><a href="#">Déconnexion</a></li>
      {{ else}}
        <li><a href="{{ pathFor 'home' }}">Accueil</a></li>
        <li><a href="{{ pathFor 'ficheProjet' }}">Fiche Projets</a></li>
        <li><a href="{{ pathFor 'register' }}">Enregistrement</a></li><li>
          <a href="{{ pathFor 'login' }}">Connexion</a></li>
        {{ /if }}
        </ul>
  <header id="header">
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper col s12" id="header-nav">
        <a href="{{pathFor 'home' }}" class="brand-logo"><img src="/image/icon.svg" style="height:30px"/>TBA</a>
        <ul class="right">
          <li><a data-activates="slide-menu" class="my-btn" href="#"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>
    </div>
  </header>
</template>
